/* .zs-topbar */
.zs-mobile .red-mob,.zs-center .ico,.zs-mobile .ico,.zs-ser .ico{
    background: url(../images/topbar_ico.png) no-repeat;
}
.zs-home a:hover,.zs-login a:hover,.zs-register a:hover,.zs-quick-menu li a:hover{
    color: #c00;
    text-decoration: underline;
}
.zs-topbar{
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
    background: #f5f5f5;
}
.zs-login-info{
    float: left;
}
.zs-home{
    padding: 0 20px 0 0;
}
.zs-home a{
    color: #666;
}
.zs-login{
    padding: 0 20px 0 0;
    color: #666;
}
.zs-login a,.zs-register a{
    color: #36c;
}

.zs-quick-menu{
    float: right;
    margin: 0 -10px 0 0;
}
.zs-quick-menu li{
    float: left;
    margin: 0 10px;
    height: 29px;
    font-size: 12px;
    line-height: 29px;
}
.zs-quick-menu li a{
    color: #666;
    display: inline-block;
}
.zs-quick-menu .zs-separator{
    color: #ccc;
}
.zs-quick-menu .zs-cen{
    position: relative;
    margin: 0;
    z-index: 100;
}
.zs-quick-menu .zs-cen .zs-center{
    padding: 0 23px 0 10px;
}
.zs-quick-menu .zs-cen .zs-center .ico{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 7px;
    height: 4px;
    background-position: 0 -45px;
    transition: all .2s linear;
}
.zs-quick-menu .zs-cen:hover .ico{
    transform: rotate(180deg);
}
.zs-quick-menu .zs-cen:hover{
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 2px solid #fff;
    background: #fff;
}
.zs-quick-menu .zs-cen .zs-center:hover{
    text-decoration: none;
    color: #666;
}
.zs-quick-menu .zs-cen .zs-center-bd{
    position: absolute;
    top:29px;
    left: 0;
    width: 88px;
    padding: 3px 9px;
    margin-left: -1px;
    margin-top: 1px;
    border: 1px solid #ededed;
    border-top: 0;
    background: #fff;
    display: none;
}
.zs-quick-menu .zs-cen .zs-center-bd a{
    font-size: 12px;
    line-height: 28px;
}
.zs-quick-menu .zs-cen .zs-center-bd a:hover{
    color: #c00;
}
.zs-quick-menu .zs-cen .zs-center-bd a em{
    padding-left: 5px;
    color: #f33;
    font-style: normal;
}
.zs-quick-menu .zs-cen .zs-center-bd a:hover em{
    color: #c00;
}
.zs-quick-menu .zs-mob{
    position: relative;
    margin: 0;
    z-index: 100;
}
.zs-quick-menu .zs-mob .zs-mobile{
    padding: 0 23px 0 25px;
}
.zs-quick-menu .zs-mob .zs-mobile .red-mob{
    position: absolute;
    width: 11px;
    height: 14px;
    top: 7px;
    left: 10px;
    background-position: -10px -7px;
}
.zs-quick-menu .zs-mob .zs-mobile .ico{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 7px;
    height: 4px;
    background-position: 0 -45px;
    transition: all .2s linear;
}
.zs-quick-menu .zs-mob:hover .ico{
    transform: rotate(180deg);
}
.zs-quick-menu .zs-mob:hover{
    margin-left: -1px;
    margin-right: -1px;
    border-bottom: 2px solid #fff;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    background: #fff;
}
.zs-quick-menu .zs-mob .zs-mobile:hover{
    color: #666;
    text-decoration: none;
}
.zs-quick-menu .zs-mob .zs-mobile-bd{
    position: absolute;
    top:29px;
    left: 0;
    width: 130px;
    height: 130px;
    padding: 20px;
    margin-top: 1px;
    margin-left: -1px;
    border: 1px solid #ededed;
    border-top: 0;
    background: #fff;
    display: none; 
}
.zs-quick-menu .zs-mob .zs-mobile-bd img{
    width: 100%;
}
.zs-quick-menu .zs-ser{
    position: relative;
    margin: 0;
    margin-right: 10px;
    z-index: 100;
}
.zs-quick-menu .zs-ser:hover{
    margin-left: -1px;
    margin-right: 9px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 2px solid #fff;
    background: #fff;
}
.zs-quick-menu .zs-ser .zs-service:hover{
    text-decoration: none;
}
.zs-quick-menu .zs-ser .zs-service{
    padding: 0 23px 0 10px;
}
.zs-quick-menu .zs-ser .ico{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 7px;
    height: 4px;
    background-position: 0 -45px;
    transition: all .2s linear;
}
.zs-quick-menu .zs-ser:hover .ico{
    transform:rotate(180deg);
}
.zs-quick-menu .zs-ser .zs-service:hover{
    color: #666;
}
.zs-quick-menu .zs-ser .zs-service-bd{
    position: absolute;
    top:29px;
    right: 0;
    width: 82px;
    padding: 3px 9px;
    margin-right: -1px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 28px;
    text-align: right;
    border: 1px solid #ededed;
    border-top: 0;
    background: #fff;
    display: none;
}